body {
  background-color: #E8E8E8 !important;
}

#main {
  width:360px;
  height: 180px;
  margin: 0px auto 0px auto;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  background-color: white;
  font-size: 30px;
  text-align: center;
  }

  #leftBlock, #rightBlock {
  width: 300px;
  margin: 20px auto 0px auto;
  }

  #centerBlock {
    width: 400px;
    margin: 20px auto 0px auto; 
  }

  #checkLine {
    margin: 10px auto 0px auto;
    font-size: 30px;
    text-align: center;
    }

    #thema {
      margin: 20px auto 0px auto;
      font-size: 30px;
      text-align: center;
      }

    #allThemaWords {
      margin: 10px 30px 0px 30px !important;
      font-size: 30px;
      text-align: center;
    }

  #check10, #auditMode, #words100, #showThema {
    font-weight: bold;
  }

  #buttons {
    width:360px;
    height: 38px;
    margin: 0px auto;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    background-color: white;
    }

    #b1 {
      float: left;
      font-weight: bolder;
    }

    #b2 {
      float: right;
      font-weight: bold;
    }

    #newGame {
      width:360px;
      margin: 0px auto;
      border-radius: 5px;
    }

    #answer {
      margin-top: 20px;
      width: 400px;
    }

    #word, #decision, #percentage {
      font-weight: bold
    }
    

  #expressions, #questions, #sentences  {
    border-color: darkmagenta;
  }

   #colors, #directions, #people{
    border-color: forestgreen;
  }
  
  #numbers, #weather, #opposites {
    border-color: navy;
  }

  #bodyparts, #time, #travel {
    border-color: teal;
  }

  #verbs1, #verbs2, #verbs3, #verbs4 {
    border-color: orangered;
  }

  #hotel, #city, #shopping {
    border-color: firebrick;
  }

  #restaurant, #food, #beach {
    border-color: lightseagreen;
  }

  #vacation, #doctor, #office {
    border-color: gray;
  }

  #jobSearch, #work, #computer {
    border-color: gold;
  }

  #study {
    margin-right: 40px;
  }

  #test {
    margin-left: 40px;
  }
  
  #mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .flexi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }



  